@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
  width: 454px;
  height: 406px;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='454' height='406' viewBox='0 0 454 406' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M222.868 0.0910671C301.529 -1.6059 384.044 20.3087 429 74.6285C471.516 126.001 450.888 192.492 432.254 253.092C414.558 310.644 394.344 375.529 329.318 398.819C266.207 421.423 199.79 385.933 139.902 357.802C86.2387 332.594 37.1371 301.305 17.4576 252.329C-5.15544 196.051 -10.3297 132.255 29.582 83.2451C72.6075 30.411 146.756 1.73304 222.868 0.0910671Z' fill='black'/%3E%3C/svg%3E"); 
  mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='454' height='406' viewBox='0 0 454 406' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M222.868 0.0910671C301.529 -1.6059 384.044 20.3087 429 74.6285C471.516 126.001 450.888 192.492 432.254 253.092C414.558 310.644 394.344 375.529 329.318 398.819C266.207 421.423 199.79 385.933 139.902 357.802C86.2387 332.594 37.1371 301.305 17.4576 252.329C-5.15544 196.051 -10.3297 132.255 29.582 83.2451C72.6075 30.411 146.756 1.73304 222.868 0.0910671Z' fill='black'/%3E%3C/svg%3E");      
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 2rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}